.cover-img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.author-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.title {
    font-weight: 700;
    font-size: 30px;
    padding: 14px 0;
}

@media (max-width: 576px) {
    .cover-img {
        height: 280px;
    }
}